<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Server" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-[#272A33] py-4">
    <div class="flex justify-end">
        <div class="z-10 relative flex justify-end max-w-2xl right-0"> 
            <ul class="gap-4 px-4 py-1 mx-4 lg:mx-8 text-zinc-200 flex justify-end w-full bg-slate-500/20 hover:bg-slate-800/40 rounded-md trnasition-all duration-200 drop-shadow-lg border-[1px] border-brand/20">
            <%= if @current_user do %>
                <li class=" leading-8 text-zinc-200 hidden md:block transition-colors duration-300">
                <%= @current_user.email %>
                </li>
                <li>
                <.link
                    href={~p"/users/settings"}
                    class="leading-8 font-bold hover:text-brand/80"
                >
                    Settings
                </.link>
                </li>
                <li>
                <.link
                    href={~p"/users/register"}
                    class="leading-8 font-bold hover:text-brand/80"
                >
                    Register new account
                </.link>
                </li>
                <li>
                <.link
                    href={~p"/users/log_out"}
                    method="delete"
                    class="leading-8 font-bold hover:text-brand/80"
                >
                    Log out
                </.link>
                </li>
            
                <% else %>
                <li>
                <.link
                    href={~p"/users/log_in"}
                    class="leading-8 font-bold hover:text-brand/80"
                >
                    Log in
                </.link>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
    <div class="flex">
        <aside class='bg-red-600'> ola mundo
         </aside>
        <div class ="">
            <%= @inner_content %>
        </div>
    </div>
  </body>
</html>
